input {
  margin-bottom:10px;
  padding: 4px 0 0 0;
  font-size: 16px;
  width: 200px;
}


.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.message {
  margin-top: 0;
  height: 22px;
  color: #dd1b16;
  font-size: 18px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.label {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 1px 0px 5px 30px
}

.button:disabled{
  color: #dd1b16;
  background-color: #0F0B16;
  border-style: none;
  border: solid 1px red;
}

.button {
  margin-left: 16px;
  padding: 5px;
  background-color: rgb(79, 79, 222);
  border-radius: 10px;
  color: black;
  border-style: none;
}


