.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.count-input{
  margin-left: auto;
  margin-right: auto;
}
/* .results-a{
  margin-left: 300px;
  margin-top: 10px;
} */

.results-btn{
  background-color: #cccccc;
  color: #2B506C;
  padding: 10px;
  border-radius: 10px;
  border-style: none;

}

.custom-alert{
  display: none;
}

.open{
  border: solid white 2px;
  margin: 20px;
  border-radius: 30px;
  width: 300px;
  display: flex;
  text-align: center;
  padding: 38px;
  animation: puff-in-center 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.close-btn ,
.confirm-reset {
  padding: 10px;
  margin-left: 20px;
  border-style: none;
  border-radius: 15px;
}

.close-btn{
  background-color: red;
  font-weight: 900;
}

.confirm-reset{
  background-color: orange;
  font-weight: 900;
}

.reset-btn{
  padding: 10px;
  font-size: 20px;
  border-style: none;
  border-radius: 16px;
  font-weight: 900;
  background-color: #d55f4a;
}

.hide{
  display: none;
}

.get-started{
  padding: 20px;
  font-size: 20px;
  border-style: none;
  border-radius: 16px;
  font-weight: 900;
  background-color: #4a99d5;
}

.buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.loading{
  text-align: center;
}

.layer1{
  border: 2px solid red;
  width: 300px;
}

.layer2{
  margin: 40px auto;
  padding: 4px;
  border: 2px solid blue;
  width: 312px;
  height: 100px;
}

