.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.results-a{
  margin-left: 300px;
  margin-top: 10px;
}

.results-btn{
  background-color: #cccccc;
  color: #2B506C;
  padding: 10px;
  border-radius: 10px;
  border-style: none;

}

.custom-alert{
  display: none;
}

.open{
  border: solid white 2px;
  margin: 20px;
  border-radius: 30px;
  width: 300px;
  display: flex;
  text-align: center;
  padding: 38px;
}

.close-btn ,
.confirm-reset {
  padding: 10px;
  margin-left: 20px;
  border-style: none;
  border-radius: 15px;
}

.close-btn{
  background-color: red;
  font-weight: 900;
}

.confirm-reset{
  background-color: orange;
  font-weight: 900;
}
