.btns-div{
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 20vmin);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  /* justify-content: center;
  align-items: center; */
}

.select-buttons{
  border-style: none;
  height: 80px;
  width: 80px;
  border-radius: 10px;
  background-color: #00A3B9;
  font-weight: 900;
}


.active-btn{
  border:1px solid #12e3ff;
  background-image: linear-gradient(to top, #00a3b9, #3a7396, #434762, #2d232e, #000000);
  animation: color-shift .5s ease-out;
}

.bottom-btns{
  display: grid;
  grid-template-columns: repeat(2, 20vmin);
  grid-gap: 20px;
  margin-left: 45px;
}

@keyframes color-shift {
  0% {
    background: #00A3B9;
  }
  100% {

    background: linear-gradient(to top, #00a3b9, #3a7396, #434762, #2d232e, #000000);

  }
}