nav {
  background-image: linear-gradient(to right, #0b8696, #317b96, #2b4b65, #242c3f, #0f0b16);  
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-options {
  list-style: none;
  display: flex;
}

.nav-item-hello {
  margin-right: 10px;
  color: black;
}

.nav-item {
  margin-left: 10px;
}

.nav-item a {
  text-decoration: none;
  color: white;
}