input {
  margin-left: 16px;
  padding: 4px 8px;
  font-size: 16px;
  width: 300px;
}

input[type="file"] {
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.message {
  margin-top: 0;
  height: 20px;
  color: #b83131;
  font-size: 18px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.label {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 1px 0px 2px 30px
}

.button {
  margin-left: 16px;
}

.form > input:last-of-type {
  margin-bottom: 30px;
}

.signup {
  /* border: 1px solid rgb(255, 255, 255); */
  border-radius: 40px;
  padding: 30px;
  padding-right: 50px;
}

.p{
  margin-top: -10px;
  text-align: center;
}