.results{
  margin: 0 60px;
  /* display: flex; */
  justify-content: center; 
  align-items: center;   
  text-align: left;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 10px;
}

.pie-chart{
  display: flex;
  justify-content: center; 
  align-items: center;    


}
.results-page {
  text-align: left;
}

.copy-button{
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  color: #2B506C;
  background-color: #cccccc;
}

.back-btn{
  color: #2B506C;
  background-color: #cccccc;
  padding:10px;
  margin-left: 20px;
  border-radius: 10px;
  border-style: none;

}

.title{
  text-align: center;
}